<!-- dashboard.html -->
<span my-current-time="">Loading Time...</span>
<div class="row">
  <div class="col-md-6">
  	<div class="row">
  		<div class="col-md-12" style="height:250px; overflow:hidden">
  			<div ui-view="video"></div>
  		</div>
  	</div>
  	<div class="row">
  		<!--<div class="col-md-12" style="height:380px; overflow:hidden">
  			<div ui-view="reddit"></div>
  		</div>-->
      <div class="col-md-6" style="height:375px; overflow:hidden">
        <div ui-view="verge"></div>
      </div>
      <div class="col-md-6" style="height:375px; overflow:hidden">
        <div ui-view="cnn-money"></div>
      </div>  
  	</div>
  </div>
  <div class="col-md-6">
  	<div class="row">
      <div class="col-md-6" style="height:325px; overflow:hidden">
        <div class="row">
          <div class="col-md-12" style="height:150px; overflow:hidden">
            <div ui-view="cta-train"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="height:150px; overflow:hidden">
            <div ui-view="cta-bus"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="height:325px; overflow:hidden">
        <div ui-view="metra"></div>
      </div>  
  	</div>
  	<div class="row">
  		<div class="col-md-12" style="height:300px; overflow:hidden">	
			<div ui-view="weather"></div>
  		</div>
  	</div>
  </div>
</div>