<!-- dashboard.html -->

<div class="content-padding">

  <div class="row">
    <!--<div class="col-md-6">
      <div ui-view="note" style="text-align:left"></div>
    </div>
    -->
    <div class="col-md-12">
      <span my-current-time="">Loading Time...</span>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-6">

      <!--
    	<div class="row">
        <div class="col-md-12 my-panel" style="height:315px;">
          <div ui-view="youtube"></div>
        </div>
    	</div>
      -->


      <div class="row">
        <div class="col-md-6 my-panel" style="height:325px;">
          <div ui-view="cta-train"></div>
        </div>
        <div class="col-md-6 my-panel" style="height:325px;">
          <div ui-view="cta-bus"></div>
        </div>
      </div>

    	<div class="row">
        <div class="col-md-6 my-panel" style="height:315px;">
          <div ui-view="verge"></div>
        </div>
        <div class="col-md-6 my-panel" style="height:315px;">
          <div ui-view="sports-blackhawks"></div>
        </div>
    	</div>

    </div>
    <div class="col-md-6">

    	<div class="row">

        <div class="col-md-6 my-panel" style="height:325px;">
          <div class="row">
            <div class="col-md-12" style="height:150px;">
              <!--<div ui-view="cta-train"></div>-->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 my-panel" style="height:150px;">
              <!--<div ui-view="cta-bus"></div>-->
            </div>
          </div>
        </div>

        <div class="col-md-6 my-panel" style="height:325px;">
          <div ui-view="metra"></div>
        </div>  

    	</div>

    	<div class="row">
    		<div class="col-md-12 my-panel" style="height:300px;">	
  			   <div ui-view="weather"></div>
    		</div>
    	</div>

    </div>
  </div>

</div>