<!-- morning.html -->

<div class="content-padding">

  <!-- Top Row -->
  <div class="row">
    <div class="col-md-6">
      <div ui-view="note" style="text-align:left"></div>
    </div>
    <div class="col-md-6">
      <span my-current-time="">Loading Time...</span>
    </div>
  </div>  

  <!-- Row: Main -->
  <div class="row">

    <!-- Left Section 50% -->
    <div class="col-md-6">

      <!-- Row: CTA Transportation -->      
      <div class="row" style="height:400px;">

        <!-- Left Column CTA Bus -->
        <div class="col-md-6">
          <div ui-view="cta-bus"></div>
        </div>

        <!-- Right Column CTA Train -->
        <div class="col-md-6">
          <!--<div ui-view="cta-train"></div>-->
        </div>

      </div>

      <!-- Row: News Feeds -->
    	<div class="row" style="height:315px;">
        <div class="col-md-6 my-panel">
          <div ui-view="verge"></div>
        </div>
        <div class="col-md-6 my-panel">
          <div ui-view="sports-blackhawks"></div>
        </div>
    	</div>

    </div>

    <!-- Right Section 50% -->
    <div class="col-md-6">

    	<div class="row">

        <div class="col-md-6 my-panel" style="height:325px;">
          blank area
        </div>

        <div class="col-md-6 my-panel" style="height:325px;">
          <div ui-view="metra"></div>
        </div>  

    	</div>

    	<div class="row">
    		<div class="col-md-12 my-panel" style="height:300px;">	
  			   <div ui-view="weather"></div>
    		</div>
    	</div>

    </div>

  </div>

</div>